@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nova+Square&display=swap');

 
*{
    font-family: 'Arvo', serif;
    font-family: 'Nova Square', cursive;
}

.navcustom{
   background-color: var(--accent);
}

.transnav{
    transition: 0.4s;
}

body,html{
    background-color : var(--whitecustom);
}

:root
{
    --primarycol : #344e41;
    --secondcol : #cf5c36;
    --accent : #efc88b;
    --whitecustom : #e5e5e5;
    --blackcustom : #2b2929;
}


.logo-szcustom{
    height: 25px;
}

.bg-custom{
    background: linear-gradient(180deg, rgba(36, 36, 36, 0.222), rgb(207, 92, 54)), url(./media/backgrounddiv.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.it{
    color: var(--accent);
}

.incrcustom{
    color: #cf5c36;
    font-size: 60px

};

/* sezione swiper */

.swiper{
    width: 400px;
    height: 150px;
  }

.card-custom{
    height: 250px;
    width: 600px;
    border : 2px solid var(--blackcustom);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px){
    .card-custom{
        height: 250px;
        width: 300px;
        border : 2px solid var(--blackcustom);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.card-inters{
    background-color: #2b2929;
    color: var(--accent);
    border: 2px solid var(--secondcol);
    border-radius: 20px;
}

.card-inters-sec{
    transition: 0.8s;
    transform: scale(1.2);
    background-color: var(--whitecustom);
    color: var(--blackcustom);
}

.card-inters-sec-trans{
    transition: 0.8s;
}

@media screen and (max-width: 600px){
    .card-inters:hover{
        transition: 0.8s;
        transform: scale(0.8);
        background-color: var(--whitecustom);
        color: var(--blackcustom);
    }
}

.footer{
    background: var(--blackcustom);
    color: var(--whitecustom);
}

.links-nav{
    text-decoration: none;
}

.announcement-card{
    min-height: 300px;
    border: 2px solid var(--blackcustom);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputNumber{
    color: var(--secondcol);
    font-size: 20px;
    font-weight: 900;
}

.imgcardcustom{
 height: 200px;
 border-radius: 50%;
}

/* pagina chi siamo */
.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border : 2px dashed var(--secondcol);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opener{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: var(--secondcol);
    cursor: pointer;
}

.moved{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid var(--blackcustom);
    position: absolute;
    transition: 1s;
}

.teacher-card{
    height: 350px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid var(--primarycol);
    box-shadow: 2px 0px 0px 2px var(--secondcol);
    background-size: cover;
    background-repeat: no-repeat;
    background-position : center;
    color: var(--whitecustom);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
